<ul class="pagination pagination-sm">
  <li class="page-item">
          <a class="page-link" href="#" (click)="onClickLink($event, 1);" >
          &laquo;
      </a>
  </li>
  <li 
      [ngClass]="{'page-item': true, 'active': pageNumber == currentPage}" 
      *ngFor="let pageNumber of links" >
      <a class="page-link" href="#" (click)="onClickLink($event, pageNumber);" >
          {{pageNumber}} 
      </a>
  </li>
  <li class="page-item">
          <a class="page-link" href="#" (click)="onClickLink($event, lastPage);" >
          &raquo;
      </a>
  </li>    
</ul>